<h5 class="sub-title text-center"># solicitudes</h5>
<div class="stats-main-cards">
  <div class="row">
    <div class="col-6 col-md-3">
      <div class="card">
        Holi
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card">
        Holi
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card">
        Holi
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card">
        Holi
      </div>
    </div>
  </div>
</div>
