<div class="container">
  <div class="filters pt-2 pt-sm-4">
    <button class="btn btn-secondary btn-filters" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <span class="d-flex align-items-center justify-content-around">
        <%= active_filter(params) %>
        <%= image_tag 'icons/down-arrow.svg', width: 12, height: 12 %>
      </span>
    </button>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <%= render "shared/filter-link", secretarias: @secretarias %>
      </div>
    </div>
  </div>
  <div class="row">
    <% @cards.each do |card| %>
      <div class="col-xs-12 col-sm-6">
        <%= render "card", { card: card, list: list_for_card(@lists, card) } %>
      </div>
    <% end %>
  </div>
</div>
