.graph-card {
  margin-top: 1.5rem;
}
.stats-main-cards .card{
  text-align: center;
}
.stats-card {
  min-height: 150px;
  justify-content: center;
}
.stat-row {
  padding-left: 8px;
  padding-right: 8px;
  color: $my-gray;
  font-size: 14px;
}
